form {
	margin-top: 25px;
	label {
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
		color: darkslategray;
	}
	input {
		display: block;
		width: 100%;
		padding: 10px;
		border: 2px solid;
		font-size: 20px;
		margin-bottom: 10px;
	}
	textarea {
		display: block;
		width: 100%;
		padding: 10px;
		border: 2px solid;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.forFormulario {
		padding: 10px 20px;
		cursor: pointer;
	}
}