main {
	color: darkslategray;
	margin: 20px;
	padding: 20px;
	img {
		width: 600px;
		height: 400px;
	}
	.titular {
		color: sienna;
	}
	.tamañoCard {
		width: 250px;
		height: 450px;
		margin: 10px;
	}
	.imgVianda {
		width: 100%;
		height: 200px;
	}
	.dia {
		background-color: #E2C149;
	}
	h3 {
		text-align: center;
	}
	.colorBtn {
		background-color: #E7940D;
		color: black;
	}
}